@media screen and (max-width: 600px) {
    .timeline{
        margin: 50px auto;
    }
    .timeline::after{
        left: 31px;
    }
    .timeline-container{
        width: 100%;
        padding-left: 80px;
        padding-right: 25px;
    }

    .text-box{
       font-size: 13px; 
    }
    
    .right-container{
        left: 0;
    }

    .left-container img, .right-container img{
        left: 10px;
    }

    .left-container-arrow, .right-container-arrow{
        border-radius: 15px solid #F0F0DB ;
        border-left: 0;
        left: -15px;
    }
}